.content {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-element {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.content-element img {
    width: 80px;
    margin: 20px;
    margin-top: 40px;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 32px;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover, a:focus {
    color: #333333;
    text-decoration: none;
}
